**/build
**/conan.lock
**/CMakeUserPresets.json
bkp/

**/*openai_api_key*

**/venv

**/*.egg-info
**/dist/*

**/*.so 
**/.whl

**/Tests/*

libs/libtorch
libtorch*.zip

# Ignore everything in the models folder
models/*
# But DO NOT ignore these two files
!models/hf_extract_model.py
!models/hf_model_to_onnx.py

**/*.pdf
**/*.docx