.vscode/
CMakeUserPresets.json
CMakeLists.txt.user
*/CMakeUserPresets.json 

bkp/
models/
venv/

**/build/
**/*.egg-info
**/dist/
**/*.so
**/*.whl
**/*.zip

**/conan.lock
openai_api_key*

libs/libtorch/*
# libs/openai-cpp/
# libs/tokenizers-cpp/
libs/faiss/
