build
CMakeUserPresets.json
bkp
CMakeLists.txt.user
conan.lock
libs*/libtorch
libs*/libtorch - Copy
libs*/libtorch new c11
models/
libtorch-cxx11-abi-shared*
openai_api_key*
libtorch-cxx11-abi-shared-with-deps-2.5.1+cpu.zip
libtorch-cxx11-abi-shared-with-deps-2.5.1+cu124.zip
*/libtorch*.zip
*/openai-cpp/*
*/openai-cpp
*/tokenizers-cpp*
*/tokenizers-cpp/*
venv


*/*/*.egg-info
*/*/build/*
*/*/dist/*

"testes many linux"/*.so
"testes wsl"/*.so
testes/*.so
testes/"modulos old"/*.so
testes/"modulos pip"/*.so

./*.so 
./*/*.so 
./*/*/*.so 
./*/*/*/*.so
./*/*/*/*/*.so
*.so 
*/*.so 
*/*/*.so 
*/*/*/*.so
*/*/*/*/*.so
*.whl
*/*.whl
*/*/*.whl
*/*/*/*.whl
*/*/*/*/*.whl
*/libtorch
*/openai-cpp
*/tokenizers-cpp
*/build/*
*/conan.lock
*/CMakeUserPresets.json


