.vscode

CMakeUserPresets.json
CMakeLists.txt.user
*/CMakeUserPresets.json 

bkp
models/*
**/build/*
**/conan.lock
openai_api_key*

libs/libtorch/*
libs/openai-cpp/*
libs/tokenizers-cpp/*
libs/faiss/*
venv

**/*.egg-info
**/build/*
**/dist/*

**/*.so

**/*.whl

**/*.zip
